<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RandomCamp!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
        </style>
        <script
              src="https://code.jquery.com/jquery-3.6.0.js"
              integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
              crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="header item-full">
                RandomCamp!
            </div>
            <div class="content item-full">
                <div class ="item-wrapper">
                    <div class="item-80">
                        GETTING A RANDOM ALBUM
                    </div>
                    <div class="item-20">
                        PLEASE WAIT!
                    </div>
                </div>
            </div>
            <div class="footer item-full">
                Made by Zero445 † Github: <a href="https://github.com/victorlma">victorlma</a>
            </div>
        </div>
        <script>
            $(document).ready( function () {
                            $.ajax({
                                        type: 'GET',
                                        url: '/getalbum',
                                        success: function (response) {
                                               $('.item-80').html(response.album_info);
                                               $('.item-20').html(response.album_iframe);
                                                        }
                                        });
                        });
        </script>
    </body>
</html>
